body{
    background: lightsalmon;
}
.row,.container-fluid{
    padding: 0px;
    margin: 0px;
}
header{
    background: red;
}
header div{
    display: inline-block;
}
img{
    border: 1px solig black;
}
aside{
    background: lightseagreen;
   
}
article{
    background: lightsalmon !important;
     padding-left:5% !important; 
    
}
.paddingMarginOff{
    margin: 0px;
    padding: 0px;
}
.product_thumbnail{
     height: 250px !important; 
    background: #617d7f;
    color:#fff;
    margin: 20px !important;
}
.product_thumbnail img{
    height:55%;
}
figcaption{
    text-transform: uppercase;
    color:#fff !important;

}
/* item detail bar */